@page "/"

<PageTitle>Home - Nikke Einkk</PageTitle>

<div class="welcome-container">
    <h1>Welcome to Einkk's Simulation Room!</h1>

    <div class="info-card">
        <p>
             Use the navigation menu on the left to explore the pages.
        </p>
    </div>
</div>

@code {

}
